<div class="container">
  <header>
    <h1>Create news</h1>
  </header>
  <hr/>
  <form action="/news" method="POST">
    <div class="row">
      <label for="title">Title<label>
      <input id="title" type="text" name="title" value="" required>
    </div>
    <div class="row">
      <input type="submit" name="submit-btn" value="Submit">
    </div>
  </form>
</div>
