<style type="text/css">
	.send{
		width:40%;
		height:30%;
		position: absolute;
		left: 30%;
		top:20%;
	}
</style>
<link rel="stylesheet" type="text/css" href="/styles/nav.css">


   
      <div class="navbar-a">
          <div class="navli logo">
              <a href="http://localhost:1337/">檢爛梅</a>
          </div>
           <div class=" navli logout">
            <form id="logout" method="post" action="/logout">
              <div class="logout-sub">Logout</div>
            </form>
          </div>
          
           <div class="navli all"> 
            <a href="/news/showAll">全部爛梅</a>
          </div>
        

      </div>
<div class="send">
	<form id="mailForm" method="post" action="/mailer/send">
		<div style="height:40px;">標題：<input placeholder="title" id="title" name="title" value="[投訴] "></div>	
		
		<div style="height:40px;">寄件者：<input placeholder="to" id="to" name="to" value="<%= email %>"></div>
		<input type="hidden" value="<%=id%>" name="url">
	    <div><textarea rows="4" cols="50"  type="textarea" name="content" form="mailForm" >我覺得這個新聞實在是很不好！<%= url %></textarea></div>
	    <button class="btn" type="submit">submit</button>
	</form>
</div>

